<footer class="bg-white py-8 mt-8 lg:mt-16 w-full">
    <div class="container mx-auto px-4">

      <nav class="flex flex-col sm:flex-row justify-between w-full mt-4">
        <div class="mb-2 w-full">
          <p class="uppercase text-gray-400 font-medium text-lg sm:mb-2">You</p>
          <ul class="text-xs mb-3">
            <li class="inline-block mr-2 sm:block sm:mr-0"><a
                href="/account"><button
                  class="text-gray-800 hover:text-brand text-lg"
                  type="button">My Account</button></a></li>
            <li class="mt-2 inline-block mr-2 sm:block sm:mr-0"><a
                href="/logout"><button
                  class="text-gray-800 hover:text-brand text-lg"
                  type="button">Sign Out</button></a></li>
          </ul>
        </div>
        <div class="w-full">
        </div>
        <div class="w-full">
        </div>
        <div class="w-full">
          <p class="uppercase text-gray-400 font-medium text-lg sm:mb-2">We</p>
          <ul class="text-xs mb-3">
            <li class="mt-2 inline-block mr-2 sm:block sm:mr-0"><a
                href="/about"><button
                  class="text-gray-800 hover:text-brand text-lg"
                  type="button">About</button></a></li>
            <li class="mt-2 inline-block mr-2 sm:block sm:mr-0"><a
                href="/contact"><button
                  class="text-gray-800 hover:text-brand text-lg"
                  type="button">Contact</button></a></li>
          </ul>
          <div class="text-lg">Si vis pacem, para bellum. <a
              href="https://www.github.com/Shepard2154"
              rel="noopener noreferrer" target="_blank" title="useruser's
              Github Profile"><span
                class="text-gray-800 hover:text-brand">@Shepard2154</span></a></div>
        </div>
      </nav>
    </div>
  </footer>