<nav class="main-menu uppercase text-gray-800">
    <ul>
      <li>
        <a href="/">
          <i class="fa fa-user fa-2x"></i> 
          <span class="nav-text">
            Персоны
          </span>
        </a>

      </li>
      <li class="has-subnav">
        <a href="/ca/">
          <i class="fa fa-search fa-2x"></i>
          <span class="nav-text">
            Поиск ЦА
          </span>
        </a>

      </li>
      <li class="has-subnav">
        <a href="/analitica/">
          <i class="fa fa-bar-chart-o fa-2x"></i>
          <span class="nav-text">
            Аналитика
          </span>
        </a>

      </li>
      <li class="has-subnav">
        <a href="/geofence/">
          <i class="fa fa-map-o fa-2x"></i>
          <span class="nav-text">
            Геофенсинг
          </span>
        </a>

      </li>
      <li>
        <a href="/infopovod/">
          <i class="fa fa-info fa-2x"></i>
          <span class="nav-text">
            Инфоповоды
          </span>
        </a>
      </li>
    </ul>

    <ul class="logout">
      <li>
        <a href="/logout/">
          <i class="fa fa-sign-out fa-2x"></i>
          <span class="nav-text">
            Выход
          </span>
        </a>
      </li>
    </ul>
  </nav>